@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@media (min-width: 600px) {
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

body {
  background-color: #202020;
  font-family: 'Roboto', sans-serif;
  --primary-color: #efefef;
  color: var(--primary-color);
}

a {
  color: white;
}